.profile__info {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  column-gap: 18px;
  row-gap: 8px;
  align-items: center;
  padding: 21px 244px 0 30px;
}

@media screen and (max-width: 904px) {
  .profile__info {
    column-gap: 10px;
    padding: 26px 0 32px 28px;
    margin: 0 auto;
  }
}
