.button_category_edit {
  background-image: url('../../../../images/button_edit.svg');
  width: 24px;
  height: 24px;
  grid-row: 1;
  grid-column: 2;
}

.button_category_edit:hover {
  opacity: .6;
}

@media screen and (max-width: 320px) {
  .button_category_edit {
    width: 18px;
    height: 18px;
  }
}