.header__logo {
  width: 142px;
  height: 33px;
  padding: 45px 0px 36px;
}


@media screen and (max-width: 440px) {
  .header__logo {
    width: 103.74px;
    height: 25.27px;
    padding: 28px 189.26px 26.72px 27px;
  }
}