.button_category_like-inactive {
  background-image: url('../../../../../images/button_like.svg');
  width: 22px;
  height: 19px;
  background-color: transparent;
}

.button_category_like-inactive:hover {
  opacity: .5;
}