.profile__main-info {
  display: flex;
  flex-direction: row;
  position: relative;
}

@media screen and (max-width: 904px) {
  .profile__main-info {
    max-width: 282px;
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 904px){
  .profile__main-info {
    max-width: 581px;
  }
}