.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 66px 0 56px;
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    padding: 48px 0 34px;
  }
}

@media screen and (min-width: 321px) and (max-width: 608px) {
  .footer {
    max-width: 400px;
  }
}

@media screen and (min-width: 609px) and (max-width: 904px) {
  .footer {
    max-width: 600px;
  }
}