.button_category_edit {
  background-image: url('../../../images/button_edit.svg');
  width: 24px;
  height: 24px;
  grid-row: 1;
  grid-column: 2;
  margin-top: 8px;
}

@media screen and (max-width: 904px) {
  .button_category_edit {
    margin-top: 3px;
  }
}

@media screen and (max-width: 320px) {
  .button_category_edit {
    width: 18px;
    height: 18px;
  }
}