.button_category_close {
  background-image: url('../../../images/button_close.svg');
  width: 32px;
  height: 32px;
  margin: -38px -38px 8px 8px;
  grid-row: 1;
  grid-column: 2;
}

@media screen and (max-width: 500px) {
  .button_category_close {
    height: 20px;
    width: 20px;
    margin: -38px 0 -20px 0;
    grid-column: 1;
  }
}

