.places__name-tag {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  gap: 28px;
  align-items: baseline;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 25px 15px 25px 21px;
  box-sizing: border-box;
}