.popup__item {
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0px 0px 9px;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 1) inset;
}

.popup__item::placeholder {
  color: rgba(0, 0, 0, .5);
}

