.popup__grid {
  position: fixed;
  display: grid;
  justify-items: end;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  max-width: 430px;
  height: 362px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

@media screen and (max-width: 500px) {
  .popup__grid {
    grid-template-columns: repeat(1, minmax(min-content, max-content));
}
}