.places__name {
  font-family: 'Inter', 'Arial', sans-serif; 
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 191px;
  width: 100%;
}