.button {
  border: none;
  background-color: transparent;
  background-size: contain;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.1s ease-in-out;
}

.button:hover {
  cursor: pointer;
}