.popup__text { 
  font-family: 'Inter', 'Arial', sans-serif;  
  font-size: 24px; 
  font-weight: 900; 
  line-height: 29px; 
  text-align: left; 
  color: rgba(0, 0, 0, 1); 
  margin: 0 auto; 
  padding: 34px 87px 48px 36px; 
  grid-row: 1;
  grid-column: 1;
} 

@media screen and (max-width: 500px) { 
  .popup__text { 
    font-size: 18px; 
    line-height: 22px; 
    padding: 26px 20px 75px; 
    grid-row: 2;
    max-width: 238px;
    width: 100%;
} 
} 
